page-t10 {
    .text1{
        position: fixed;
        width : 311px;
        left : 31.5px;
        top : 186.5px;
        padding: 0;
        border: 0;
    }

    *{
         .scroll-content{
            overflow: hidden !important;
         }
       
    }

    .text2{
        position: fixed;
        width : 252.14675px;
        left : 32.5px;
        top : 373.125px;
        padding: 0;
        border: 0;
    }

    .dottedIcon{
        position: fixed;
        width : 67.25px;
        left : 75.158px;
        top : 512.60325px;
        padding: 0;
        border: 0;
    }
    .settle{
        position: absolute;
        width : 82.5px;
        left : 201px;
        top : 505.5px;
        padding: 0;
        border: 0;
    }

    .a16-20{
        position: fixed;
        width : 88px;
        left : 35px;
        top : 653.5px;
        padding: 0;
        border: 0;
    }

    .bg{
        position: fixed;
        padding: 0;
        border: 0;
        width: 360px;
        left: 0px;
       
    }

    .wc{
        position: fixed;
        padding: 0;
        border: 0;
        left: -370px;
        top: 0px;
       
        width: 740px;
    }

    .tutorial {
        position: fixed;
        width : 74px;
        left : 32.5px;
        top : 124px; 
    }
   

}






