page-t7{
    .bg{
        position:   absolute;
        padding:    0;
        border:     0;
        width:      360px;
        height:     740px;
        left:       0;
        top:        0; 
    }

    .wc{
        position:   fixed;
        padding:    0;
        border:     0;
        left:       -370px;
        top:        0px;
        width:      740px;
        height:     740px;
    }

    .tutorial{
        position:   fixed;
        padding:    0;
        border:     0;
        left:       32.5px;
        top:        124.375px;
        width:      73.634px;
        height:     16.75px;
    }
    .text1{
        position:   fixed;
        padding:    0;
        border:     0;
        left:       32.5px;
        top:        186.5625px;
        width:      289.68625px;
        height:     209.12625px;
    }

    .text2{
        position: fixed;
        border: 0;
        padding: 0;
        left: 32.375px;
        top: 435.225px;
        width: 201.7265px;
        height: 63.75px;
    }

    .page{
        position: fixed;
        border: 0;
        padding: 0;
        left: 32.5px;
        top: 653.66025px;
        width: 90.6665px;
        height: 12.34px;
    }
}


