page-t11 {

.bg{
    position: absolute;
    padding: 0;
    border: 0;
    left: 0px;
    top: 0px;
    width: 360px;
    height: 740px;
}

.wc{
    position: fixed;
    padding: 0;
    border: 0;
    left: -370px;
    top: 0px;
    width: 740px;
    height: 740px;
}

.tutorial{
    position: fixed;
    padding: 0;
    border: 0;
    left: 32.5px;
    top: 124.375px;
    width: 73.634px;
    height: 16.75px;
}
.maintext{
    position: fixed;
    padding: 0;
    border: 0;
    left: 32.5px;
    top: 186.5625px;
    width: 257.34375px;
    height: 213.9375px;

}

.text{
    position: fixed;
    border: 0;
    padding: 0;
    left: 32.5px;
    top: 417.2625px;
    width: 257.34375px;
    height: 67.5px;
}

.page{
    position: fixed;
    border: 0;
    padding: 0;
    left: 32.5px;
    top: 653.6602px;
    width: 66.2647px;
    height: 12.34px;
}

.iaButton {
    position: fixed;
    border: 0;
    padding: 0;
    left: 71.25px;
    top: 477.99225px;
    width: 84.61525px;
    height: 84.61525px;
}


.dotC{
    position: fixed;
    border: 0;
    padding: 0;
    left: 75.185px;
    top: 512.60325px;
    width: 67.25025px;
    height: 67.25px;
}

.roundC{
    position: fixed;
    border: 0;
    padding: 0;
    left: 201.39475px;
    top: 505.58125px;
    width: 82.52375px;
    height: 82.16875px;
}
}
