page-home{
    *{
        .scroll-content{
            overflow: hidden !important;
        }
        
    }

    #logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80%;
        width: 140px;
        height: auto;

        // 이거 빠운스 옵션임
        animation-name: bounce;
        animation-duration: 7s;
        animation-iteration-count: 100;
    }
    #backG{
        width:100%;
        height:auto;
        position: relative;
        animation-name: example;
        animation-duration: 10s;
    }


    
    //이거 빠운스 빠운스 두근되
    @keyframes bounce {
        from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
        }

        40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
        }

        70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
        }

        90% {
        transform: translate3d(0,-4px,0);
        }
    }

    @keyframes example {
        from { left:0px; top:-2200px}
        to {left:0px; top:0px}
    }
}

