page-t6{
    
    .bg{
        position:   absolute;
        padding:    0;
        border:     0;
        width:      360px;
        height:     740px;
        left:       0;
        top:        0; 
    }

    .wc{
        position:   fixed;
        padding:    0;
        border:     0;
        left:       -370px;
        top:        0px;
        width:      740px;
        height:     740px;
    }

    .tutorial{
        position:   fixed;
        padding:    0;
        border:     0;
        left:       32.5px;
        top:        124.36225px;
        width:      73.634px;
        height:     16.75px;
    }

    .text1{
        position:   fixed;
        padding:    0;
        border:     0;
        left:       32.5px;
        top:        186.5625px;
        width:      270.5045px;
        height:     173.75px;
    }

    .text2{
        position:   fixed;
        padding:    0;
        border:     0;
        left:       32.5px;
        top:        373.125px;
        width:      216.89px;
        height:     40px;
    }

    .button1{
        position: fixed;
        border: 0;
        padding: 0;
        left: 65px;
        top: 448px;
        width: 54.375px;
        height: 54.375px;
    }

    .button2{
        position: fixed;
        border: 0;
        padding: 0;
        left: 47px;
        top: 507.875px;
        width: 70px;
        height: 70px;
    }

    .button3{
        position: fixed;
        border: 0;
        padding: 0;
        left: 65px;
        top: 581.75px;
        width: 54.375px;
        height: 54.375px;
    }

    .button4{
        position: fixed;
        border: 0;
        padding: 0;
        left: 204.25px;
        top: 448px;
        width: 54.375px;
        height: 54.375px;
    }

    .button5{
        position: fixed;
        border: 0;
        padding: 0;
        left: 216.25px;
        top: 507.875px;
        width: 70px;
        height: 70px;
    }

    .button6{
        position: fixed;
        border: 0;
        padding: 0;
        left: 204.25px;
        top: 581.75px;
        width: 54.375px;
        height: 54.375px;
    }


    .page{
        position: fixed;
        border: 0;
        padding: 0;
        left: 35.1195px;
        top: 653.66025px;
        width: 66.26475px;
        height: 12.34125px;
    }
}

