page-t8 {
 .bg{
    position: absolute;
    padding: 0;
    border: 0;
    width: 360px;
    height:740px;
}

.wc{
    position: fixed;
    padding: 0;
    border: 0;
    left: -370px;
    top: 0px;
    height: 740px;
     width: 740px;
}

.text1{
    position: fixed;
    padding: 0;
    border: 0;
    left: 32.5px;
    top: 124.375px;
    width: 73.634px;
    height: 16.75px;
}
.text2{
    position: fixed;
    padding: 0;
    border: 0;
    left: 32.42625px;
    top: 186.5625px;
    width: 297.57225px;
    height: 99.5px;
}

.text3{
    position: fixed;
    border: 0;
    padding: 0;
    left: 32.42625px;
    top: 373.253px;
    width: 199.62675px;
    height: 87.5px;
}

.page{
    position: fixed;
    border: 0;
    padding: 0;
    left: 35.1195px;
    top: 653.66025px;
    width: 88.047px;
    height: 12.34125px;
}
}

