page-t4 {


 *{
         .scroll-content{
            overflow: hidden !important;
         }
       
    }

.bg{
    position: fixed;
    padding: 0;
    border: 0;
    left: 0px;
    top: 0px;
    width: 360px;
    height: 740px;
}

.wc{
    position: fixed;
    padding: 0;
    border: 0;
    left: -370px;
    top: 0px;
    width: 740px;
    height: 740px;
}

.tutorial{
    position: fixed;
    padding: 0;
    border: 0;
    left: 32.5px;
    top: 124.36225px;
    width: 73.634px;
    height: 16.75px;
}
.maintext{
    position: fixed;
    padding: 0;
    border: 0;
    left: 32.5px;
    top: 186.5625px;
    width: 263.066px;
    height: 110.5px;

}

.text{
    position: fixed;
    border: 0;
    padding: 0;
    left: 32.5px;
    top: 373.0757px;
    width: 179.69675px;
    height: 40px;
}

.page{
    position: fixed;
    border: 0;
    padding: 0;
    left: 32.5px;
    top: 653.6602px;
    width: 66.2647px;
    height: 12.34px;
}

.iaButton {
    position: fixed;
    border: 0;
    padding: 0;
    left: 71.25px;
    top: 477.99225px;
    width: 84.61525px;
    height: 84.61525px;
}

.fingerC{
    position: absolute;
    border: 0;
    padding: 0;
    left: 71.25px;
    top: 477.99225px;
    width: 84.61525px;
    height: 84.61525px;
}

.dotC{
    position: fixed;
    border: 0;
    padding: 0;
    left: 200.25px;
    top: 477.99225px;
    width: 84.61525px;
    height: 84.61525px;
}


}
